.customContainer {
    position: relative;
}

.customContainer .customContent {
    margin: 0 auto;
    position: relative
}

.customContainer .customTitle {
    text-align: center;
    color: #333;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: .625rem
}

.customContainer .customText {
    font-size: 1.125rem
}

.customContainer .customText {
    text-align: center;
    color: #666
}

.customContainer.solution {
    position: relative
}

.customContainer.solution .customContent {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0 1.25rem;
    padding: 0 3.125rem
}

.customContainer.solution .customText-content {
    position: absolute;
    right: 3.125rem;
    top: 0
}

.customContainer.solution .customText,
.customContainer.solution .customTitle {
    text-align: left
}

.customContainer.solution .customCards {
    width: 72.5rem;
    overflow: hidden;
    padding: 1.25rem .625rem 1.25rem 0;
    box-sizing: content-box;
    height: 40.875rem;
    flex-shrink: 0
}

.customContainer.solution .cards-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0 .75rem;
    height: 100%;
    transition-timing-function: ease
}

.customContainer.solution .customCard {
    flex-shrink: 0;
    width: 7.75rem
}

.customContainer.solution .customCard__img {
    box-shadow: 5px 8px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 6px;
    border: 1px solid #fff;
    overflow: hidden;
    transition: all .6s;
    cursor: pointer;
    width: 100%;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customContainer.solution .customCard img {
    width: 100%;
    object-fit: cover;
}

.customContainer.solution .card__title {
    color: #333;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1.25rem
}

.customContainer.solution .card__small-title {
    line-height: 1.2;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color: #666;
    opacity: 1;
    transition: all .3s
}

.customContainer.solution .card__contents {
    padding-bottom: 1.25rem;
    position: relative;
    flex-grow: 1;
    margin-bottom: 1.25rem;
    overflow: hidden
}

.customContainer.solution .card__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: all .6s;
}

.customContainer.solution .card__content.active {
    opacity: 1;
    transform: none
}

.customContainer.solution .card__text {
    color: #666
}

.customContainer.solution .card__btn {
    display: block;
    margin-top: 2.5rem;
    width: 7.5rem;
    height: 2.188rem;
    line-height: 2.188rem;
    text-align: center;
    background-color: #0299f4;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    transition: all .2s
}

.customContainer.solution .card__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .18)
}

.customContainer.solution .card__next-btn,
.customContainer.solution .card__prev-btn {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, .4);
    width: 2.625rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    cursor: pointer;
    color: #c6c6c6
}

.customContainer.solution .card__next-btn .iconfont,
.customContainer.solution .card__prev-btn .iconfont {
    color: inherit;
    font-size: 1.875rem
}

.customContainer.solution .card__next-btn.disabled,
.customContainer.solution .card__prev-btn.disabled {
    opacity: .5
}

.customContainer.solution .card__next-btn:hover,
.customContainer.solution .card__prev-btn:hover {
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, .6);
    color: #0299f4
}

.customContainer.solution .card__prev-btn {
    left: 0
}

.customContainer.solution .card__prev-btn .iconfont {
    transform: rotate(90deg)
}

.customContainer.solution .card__next-btn {
    right: 0
}

.customContainer.solution .card__next-btn .iconfont {
    transform: rotate(-90deg)
}

.customContainer.solution .customCard.active {
    width: 29.625rem
}

.customContainer.solution .customCard.active .customCard__img {
    height: 40.875rem
}

.customContainer.solution .customCard.active .card__small-title {
    opacity: 0
}

@media (max-width: 1200px) {
  .customContainer.solution .customCards {
    width: 100%;
    padding: 1rem 1rem 1rem 0;
  }

  .customContainer.solution .customText-content {
    right: 1rem;
  }

  .customContainer.solution .customCard.active {
    width: 22rem;
  }

  .customContainer.solution .customCard.active .customCard__img {
    height: 30rem;
  }
}

@media (max-width: 992px) {
  .customContainer.solution .customContent {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .customContainer.solution .customText-content {
    position: static;
    text-align: center;
  }

  .customContainer.solution .customTitle,
  .customContainer.solution .customText {
    text-align: center;
  }

  .customContainer.solution .customCards {
    overflow-x: auto;
    width: 100%;
    height: 30rem;
  }

  .customContainer.solution .cards-wrapper {
    justify-content: flex-start;
  }

  .customContainer.solution .customCard {
    width: 6rem;
  }

  .customContainer.solution .customCard.active {
    width: 18rem;
  }

  .customContainer.solution .customCard__img {
    height: 18rem;
  }

  .customContainer.solution .customCard.active .customCard__img {
    height: 28rem;
  }

  .customContainer.solution .card__contents {
    display:none;
  }

  .customContainer.solution .card__content {
    display: none;
  }

  .customContainer.solution .card__prev-btn,
  .customContainer.solution .card__next-btn {
    top: 95%;
    transform: translateY(-50%);
  }

  .customContainer.solution .card__prev-btn {
    left: 1rem;
  }

  .customContainer.solution .card__next-btn {
    right: 1rem;
  }
}

@media (max-width: 576px) {
  .customContainer.solution .cards-wrapper {
    justify-content: center;
    overflow: hidden;
  }

  .customContainer.solution .customCard {
    display: none;
  }

  .customContainer.solution .customCard.active {
    display: block;
    margin: 0 auto;
  }
}
